<!doctype html>
<head>
<title>Crontab UI</title>
<script src="jquery.js"></script>
<script src="script.js"></script>
<script src="bootstrap.min.js"></script>
<script src="mailconfig.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
<style>
    .tooltip-inner {
            min-width: 100px;
            max-width: 100%; 
    }
</style>
<script type="text/javascript">
	var crontabs = [];
	var routes = [];
	$(function () {
		// initialize tooltips
		$('[data-toggle="tooltip"]').tooltip();
		crontabs = JSON.parse('<%- crontabs.replace(/\\\\/g, "\\\\\\\\").replace(/\\\"/g,"\\\\\"").replace(/\'/g,"\\\'").replace(/\\t/g, " ") %>');
		routes = JSON.parse('<%- routes %>');
		$("#env_vars").val(`<%- env  %>`);
	})
</script>
</head>
<body>
<% include navbar %>
<div class="container">
        <div style="text-align: right;"><a target="_blank" href="https://www.adminschoice.com/crontab-quick-reference">Crontab Reference</a></div>
        <div style="text-align: right;"><a target="_blank" href="https://crontab.guru/">Tool for Checking Crontab Timing Syntax</a></div>
	<h2>Cronjobs</h2>
	<div class="form-group">
		<label for="env_vars">Environment Variables:</label>
		<textarea class="form-control" rows="3" id="env_vars" placeholder="# Please set PATH, MAILTO, HOME... here"></textarea>
	</div>
	<a class="btn btn-primary" onclick="newJob();"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Job</a>
	<form id="import_form" enctype="multipart/form-data" action="<%= JSON.parse(routes).import %>" method="post" style="display:none">
		<input type="file" id="import_file" name="import_file" onchange="$('#import_form').submit()"/>
	</form>
	<a class="btn btn-warning" onclick="import_db()"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import From File</a>
	<a class="btn btn-warning" href="<%= JSON.parse(routes).export %>"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export To File</a>
	<!--<a class="btn btn-info" onclick="import_crontab()"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import from crontab</a>-->
	<a class="btn btn-success" onclick="getCrontab();"><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Import From System crontab</a>
	<a class="btn btn-success" onclick="setCrontab();"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save To System crontab</a>
	<br/>
	<br/>

	<table class="table table-striped" id="main_table">
		<thead>
	<tr>
		<th>Job</th>
		<th>Time</th>
                <th>Last Modified<br>(Via Site)</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<% var index = 1 %>
	<% JSON.parse(crontabs).forEach(function(crontab){ %>
		<!-- color based on crontab state -->
		<% if (!crontab.stopped) { %>
			<tr>
		<% } else { %>
			<tr style="background:#3A6DA6;color:#fff">
		<% } %>

				<td><span style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-html="true" align="left" title="<%= crontab.scriptContent %>">
                                        <% if(!crontab.scriptFound){ %>
                                            <span style="color:red;">
                                                <% } %>
                                            <%= crontab.command %>

                                        <% if(!crontab.scriptFound){ %>
                                            </span>
                                                <% } %>

                                    </span></td>
                                    <td><span style="cursor:pointer" data-html="true" data-toggle="tooltip" data-placement="bottom" title="<%= 'NEXT: ' + crontab.next + '<br>(Reload Page to Refresh)' %>"><%= crontab.schedule %></span></td>
				<td style="width:20%" title="<%= crontab.timestamp %>">
                                    <%= moment(new Date(crontab.timestamp)).fromNow() %>
                                    <% if (crontab.name) { %>
                                            <a class="btn" data-toggle="tooltip" data-placement="right" data-html="true" title="<%='Name: ' + crontab.name + '<br>ID: ' + crontab._id %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> </a>
                                            <% } else { %>
                                            <a class="btn" data-toggle="tooltip" data-placement="right" data-html="true" title="<%='Name: DNE' + '<br>ID: ' + crontab._id %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> </a>
                                    <% } %>
                                </td>
				<td>

		<!-- controls based on crontab state -->
		<% if (!crontab.stopped) { %>
			<% if (crontab.logging && crontab.logging != "false") {%>
					<a class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="See Log" href="<%= JSON.parse(routes).logger + '?id=' + crontab._id %>" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
			<% } %>
					<a class="btn btn-info" onclick="runJob('<%= crontab._id %>')"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</a>
					<a class="btn btn-primary" onclick="editJob('<%= crontab._id %>')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
					<a class="btn btn-info" onclick="stopJob('<%= crontab._id %>')"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</a>
		<% } else { %>
					<a class="btn btn-info" onclick="startJob('<%= crontab._id %>')"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</a>
		<% } %>
					<a class="btn btn-danger" onclick="deleteJob('<%= crontab._id %>')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
				</td>
			</tr>
	<% }); %>


</tbody>
	</table>
        <h2>How This Works</h2>
        <div style="text-align: left;"><a target="_blank" href="https://www.adminschoice.com/crontab-quick-reference">Crontab Reference</a></div>
        <div style="text-align: left;"><a target="_blank" href="https://crontab.guru/">Tool for Checking Crontab Timing Syntax</a></div>
        <p>
        <p></p>
        <strong>cron:</strong> The server runs a program called cron that is responsible for running scheduled tasks. Every minute, the cron program wakes up and checks the crontab ("<strong>cron tab</strong>le") file for tasks to run at that moment. The crontab file is stored on the server's filesystem (e.g. at /var/spool/cron/ec2-user) and is typically accessed by running the command <span style="font-family:monospace">crontab -e</span> when ssh-ing into the machine. 
        </p>
        <p>
        <strong>This Site:</strong> The site you're looking at right now is NOT the crontab, not exactly. This is a website served up by a small web application called crontab-ui that is running on the server. This application grabs the crontab and stashes copies of it in a directory on this machine (e.g. at /path/to/crontab-ui/crontabs/). You control the read/write of the actual crontab using the buttons above: "Import From System crontab"/"Save To System crontab".
        </p>
        <p>
        <strong>Divergence:</strong> It's possible for the crontab-ui file to diverge from the crontab in a few ways:
        </p>
        <ul>
            <li>You forget to hit "Save To System crontab" after making changes on the site</li>
            <li>You ssh into the machine, make a change to crontab, and forget to "Import From System crontab"</li>
        </ul>
        <img src="crontab-ui-arch.png"/>
</div>
<% include popup.ejs %>
<script>
   jQuery(function($) {
   	$('#main_table').DataTable({
                pageLength:25,
   		order: [1, 'asc'],
   		columns: [
   			{orderable: false},
   			null,
   			null,
   			null,
   			{orderable: false},
   			{orderable: false}
   		]
  	});
   });
 </script>
</body>
</html>
